:root {
    --gray: #eaebf3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

#welcomeArrow {
    animation: goUpDown infinite 2s ease-in-out;
}
@keyframes goUpDown {
    50% {
        transform: translateY(30px);
    }
}

main {
    background: var(--gray);
}

.neumorphism {
    box-shadow: 9px 9px 16px rgb(163 177 198 / 60%),
        -9px -9px 16px rgb(255 255 255 / 50%);
    background-color: var(--gray);
}

.icon-container {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray);
    box-shadow: 9px 9px 16px rgb(163 177 198 / 60%),
        -9px -9px 16px rgb(255 255 255 / 50%);
    border-radius: 50%;
}

.bi-triangle {
    color: var(--bs-teal);
}

.bi-caret-up {
    color: var(--bs-green);
}

.bi-square {
    color: var(--bs-pink);
}

.bi-circle {
    color: var(--bs-red);
}

.output {
    height: 5rem;
}

.tt {
    color: var(--gray);
}

.welcomeIcon {
    font-size: 4rem;
    color: var(--gray);
}

.si {
    filter: invert(98%) sepia(2%) saturate(3183%) hue-rotate(186deg) brightness(100%) contrast(91%);
}

#certificados a {
    text-decoration: none;
    color: var(--gray);
}

.certIcons:hover {
    animation: bounce infinite 1.5s ease-in-out;
}
@keyframes bounce {
    50% {
        transform: translateY(10px);
    }
}

footer a {
    color: var(--bs-cyan);
}
